:host {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  flex: 1 1 0%;
  height: 100%;
  flex-direction: column;
  display: flex;
  color: var(--wl-color-base, #000);
}
