/**
 * Toolbar
 * -----------------------------------------------------
 * The toolbar theme customizes the toolbar only
 *
**/

:root {
  --wl-color-primary: #3880ff;
  --wl-color-light: #f4f5f8;
  --wl-color-light-rgb: 244, 245, 248;

  --wl-toolbar-background: var(--wl-color-primary);
  --wl-toolbar-color: var(--wl-color-light);
}

.md {
  --wl-toolbar-segment-color: rgba(var(--wl-color-light-rgb), 0.7);
  --wl-toolbar-segment-color-checked: var(--wl-color-light);
}

.ios {
  --wl-toolbar-segment-color-checked: var(--wl-color-primary);
}
