#wl-btn[color="primary"] {
  color: var(--color-primary, #1b56ca);
  border: 1px solid var(--color-primary-tint, rgba(27, 86, 202, 0.5));
}

#wl-btn[color="primary"]:hover {
  border: 1px solid var(--color-primary, #1b56ca);
  background-color: var(--color-primary-hue, rgba(88, 137, 236, 0.1));
}
#wl-btn[color="secondary"]:hover {
  border: 1px solid var(--color-secondary, #068a53);
  background-color: var(--color-secondary-hue, rgba(160, 201, 184, 0.1));
}

#wl-btn:hover {
  text-decoration: none;
  border: 1px solid #1b56ca;
  background-color: rgba(27, 86, 202, 0.08);
}

#wl-btn[color="secondary"] {
  color: var(--color-secondary, #068a53);
  border: 1px solid var(--color-primary-tint, rgba(6, 138, 83, 0.5));
}

#wl-btn[size="small"] {
  font-size: 0.7rem;
  min-width: 34px;
  line-height: 1.5;
  padding: 6px 16px;
}

#wl-btn {
  padding: 6px 16px;
  border: 1px solid rgba(49, 49, 49, 0.5);
  font-size: 0.875rem;
  min-width: 64px;
  line-height: 1.75;
  font-weight: 500;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  color: inherit;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  font-family: inherit;
  font-style: inherit;
  font-feature-settings: inherit;
  font-variant: inherit;
  -webkit-appearance: button;
}
