// Material Design Default Theme
// --------------------------------------------------
// This file should only contain variables that are
// used to theme the application colors for Material
// Design.

// Material Design General Colors
// --------------------------------------------------
$backdrop-md-color: var(--wl-backdrop-color, #000) !default;
$border-md-color: var(--wl-border-color,
  var(--wl-color-step-150, #c1c4cd)) !default;
$box-shadow-md-color: var(--wl-box-shadow-color, #000) !default;
$overlay-md-background-color: var(--wl-overlay-background-color,
  var(--wl-background-color, #fff)) !default;

// Material Design Tabs & Tab bar
// --------------------------------------------------
$tabbar-md-background: var(--wl-tab-bar-background, $background-color) !default;
$tabbar-md-background-focused: var(--wl-tab-bar-background-focused,
  get-color-shade(#fff)) !default;
$tabbar-md-border-color: var(--wl-tab-bar-border-color,
  var(--wl-border-color, var(--wl-color-step-150, rgba(0, 0, 0, 0.657)))) !default;
$tabbar-md-color: var(--wl-tab-bar-color, $text-color-step-400) !default;
$tabbar-md-color-selected: var(--wl-tab-bar-color-selected,
  wl-color(primary, base)) !default;

// Material Design Toolbar
// --------------------------------------------------
$toolbar-md-background: var(--wl-toolbar-background,
  $background-color) !default;
$toolbar-md-border-color: var(--wl-toolbar-border-color,
  $border-md-color) !default;
$toolbar-md-color: var(--wl-toolbar-color,
  var(--wl-text-color, #424242)) !default;

// Material Design List & List Items
// --------------------------------------------------
$item-md-background: var(--wl-item-background, $background-color) !default;
$item-md-border-color: var(--wl-item-border-color,
  var(--wl-border-color,
    var(--wl-color-step-150, rgba(0, 0, 0, 0.835), rgba(0, 0, 0, 0.835)),
    rgba(0, 0, 0, 0.835))) !default;
$item-md-color: var(--wl-item-color, $text-color) !default;


// Material Design Card
// --------------------------------------------------
$card-md-background: var(--wl-card-background, $item-md-background) !default;
$card-md-color: var(--wl-card-color, var(--wl-item-color, $text-color-step-450)) !default;
