@import "./row.vars";

// Row
// --------------------------------------------------

:host {
  display: flex;

  flex-wrap: wrap;
}

:host([align="center"]) {
  align-items: center;
}

:host([align="end"]) {
  align-items: flex-end;
}
:host([align="start"]) {
  align-items: flex-start;
}
:host([align="baseline"]) {
  align-items: baseline;
}
