@import "../themes/wl.skip-warns.scss";
@import "../themes/wl.globals";
@import "../themes/wl.mixins";

// Display
// --------------------------------------------------
// Modifies display of a particular element based on the given classes

.wl-hide {
  display: none !important;
}

// Adds hidden classes
@each $breakpoint in map-keys($screen-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $screen-breakpoints);

  @include media-breakpoint-up($breakpoint, $screen-breakpoints) {
    // Provide `wl-hide-{bp}-up` classes for hiding the element based
    // on the breakpoint
    .wl-hide#{$infix}-up {
      display: none !important;
    }
  }

  @include media-breakpoint-down($breakpoint, $screen-breakpoints) {
    // Provide `wl-hide-{bp}-down` classes for hiding the element based
    // on the breakpoint
    .wl-hide#{$infix}-down {
      display: none !important;
    }
  }
}
