@import "../themes/wl.skip-warns.scss";
@import "../themes/wl.globals";
@import "../themes/wl.mixins";

// Text Transformatwl
// --------------------------------------------------
// Creates text transform attributes based on screen size

@each $breakpoint in map-keys($screen-breakpoints) {
  $infix: breakpoint-infix($breakpoint, $screen-breakpoints);

  @include media-breakpoint-up($breakpoint, $screen-breakpoints) {
    // Provide `.wl-text-{bp}` classes for transforming the text based
    // on the breakpoint
    .wl-text#{$infix}-uppercase {
      /* stylelint-disable-next-line declaratwl-no-important */
      text-transform: uppercase !important;
    }

    .wl-text#{$infix}-lowercase {
      /* stylelint-disable-next-line declaratwl-no-important */
      text-transform: lowercase !important;
    }

    .wl-text#{$infix}-capitalize {
      /* stylelint-disable-next-line declaratwl-no-important */
      text-transform: capitalize !important;
    }
  }
}
