.wl-no-padding {
  --padding-start: 0;
  --padding-end: 0;
  --padding-top: 0;
  --padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.wl-padding {
  --padding-start: var(--wl-padding, 16px);
  --padding-end: var(--wl-padding, 16px);
  --padding-top: var(--wl-padding, 16px);
  --padding-bottom: var(--wl-padding, 16px);
  padding-left: var(--wl-padding, 16px);
  padding-right: var(--wl-padding, 16px);
  padding-top: var(--wl-padding, 16px);
  padding-bottom: var(--wl-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-padding {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--wl-padding, 16px);
    padding-inline-start: var(--wl-padding, 16px);
    -webkit-padding-end: var(--wl-padding, 16px);
    padding-inline-end: var(--wl-padding, 16px);
  }
}

.wl-padding-top {
  --padding-top: var(--wl-padding, 16px);
  padding-top: var(--wl-padding, 16px);
}
.wl-padding-start {
  --padding-start: var(--wl-padding, 16px);
  padding-left: var(--wl-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-padding-start {
    padding-left: unset;
    -webkit-padding-start: var(--wl-padding, 16px);
    padding-inline-start: var(--wl-padding, 16px);
  }
}

.wl-padding-end {
  --padding-end: var(--wl-padding, 16px);
  padding-right: var(--wl-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-padding-end {
    padding-right: unset;
    -webkit-padding-end: var(--wl-padding, 16px);
    padding-inline-end: var(--wl-padding, 16px);
  }
}

.wl-padding-bottom {
  --padding-bottom: var(--wl-padding, 16px);
  padding-bottom: var(--wl-padding, 16px);
}
.wl-padding-vertical {
  --padding-top: var(--wl-padding, 16px);
  --padding-bottom: var(--wl-padding, 16px);
  padding-top: var(--wl-padding, 16px);
  padding-bottom: var(--wl-padding, 16px);
}
.wl-padding-horizontal {
  --padding-start: var(--wl-padding, 16px);
  --padding-end: var(--wl-padding, 16px);
  padding-left: var(--wl-padding, 16px);
  padding-right: var(--wl-padding, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-padding-horizontal {
    padding-left: unset;
    padding-right: unset;
    -webkit-padding-start: var(--wl-padding, 16px);
    padding-inline-start: var(--wl-padding, 16px);
    -webkit-padding-end: var(--wl-padding, 16px);
    padding-inline-end: var(--wl-padding, 16px);
  }
}

.wl-no-margin {
  --margin-start: 0;
  --margin-end: 0;
  --margin-top: 0;
  --margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.wl-margin {
  --margin-start: var(--wl-margin, 16px);
  --margin-end: var(--wl-margin, 16px);
  --margin-top: var(--wl-margin, 16px);
  --margin-bottom: var(--wl-margin, 16px);
  margin-left: var(--wl-margin, 16px);
  margin-right: var(--wl-margin, 16px);
  margin-top: var(--wl-margin, 16px);
  margin-bottom: var(--wl-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-margin {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: var(--wl-margin, 16px);
    margin-inline-start: var(--wl-margin, 16px);
    -webkit-margin-end: var(--wl-margin, 16px);
    margin-inline-end: var(--wl-margin, 16px);
  }
}

.wl-margin-top {
  --margin-top: var(--wl-margin, 16px);
  margin-top: var(--wl-margin, 16px);
}
.wl-margin-start {
  --margin-start: var(--wl-margin, 16px);
  margin-left: var(--wl-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-margin-start {
    margin-left: unset;
    -webkit-margin-start: var(--wl-margin, 16px);
    margin-inline-start: var(--wl-margin, 16px);
  }
}

.wl-margin-end {
  --margin-end: var(--wl-margin, 16px);
  margin-right: var(--wl-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-margin-end {
    margin-right: unset;
    -webkit-margin-end: var(--wl-margin, 16px);
    margin-inline-end: var(--wl-margin, 16px);
  }
}

.wl-margin-bottom {
  --margin-bottom: var(--wl-margin, 16px);
  margin-bottom: var(--wl-margin, 16px);
}
.wl-margin-vertical {
  --margin-top: var(--wl-margin, 16px);
  --margin-bottom: var(--wl-margin, 16px);
  margin-top: var(--wl-margin, 16px);
  margin-bottom: var(--wl-margin, 16px);
}
.wl-margin-horizontal {
  --margin-start: var(--wl-margin, 16px);
  --margin-end: var(--wl-margin, 16px);
  margin-left: var(--wl-margin, 16px);
  margin-right: var(--wl-margin, 16px);
}
@supports (margin-inline-start: 0) or (-webkit-margin-start: 0) {
  .wl-margin-horizontal {
    margin-left: unset;
    margin-right: unset;
    -webkit-margin-start: var(--wl-margin, 16px);
    margin-inline-start: var(--wl-margin, 16px);
    -webkit-margin-end: var(--wl-margin, 16px);
    margin-inline-end: var(--wl-margin, 16px);
  }
}

/*# sourceMappingURL=padding.css.map */
